In [1]:
import pymysql

In [2]:
con = pymysql.connect(
    host='127.0.0.1',  # Use 'localhost' or '127.0.0.1'
    port=3306,         # Specify the port separately
    user='root',
    password='root',
    #autocommit=True
)
print(con)

<pymysql.connections.Connection object at 0x00000134E6336600>

In [5]:
mycursor=con.cursor()
mycursor.execute("CREATE DATABASE SQLPYTHON2")
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('27june_db',)
('guvi_sessions',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sqlpython1',)
('sqlpython2',)
('sw_123',)
('sys',)
('world',)

In [6]:
mycursor.execute("USE SQLPYTHON2")

0

In [7]:
!pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (8.4.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# Establish a connection to the MySQL database
conn = pymysql.connect(
    host='127.0.0.1',  # Use 'localhost' or '127.0.0.1'
    port=3306,         # Specify the port separately
    user='root',
    password='root',
    database="SQLPYTHON2",
    # autocommit=True
)

cursor = conn.cursor()

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS bus_routes9 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    Bus_name TEXT,
    Bus_type TEXT,
    Start_time TIME,
    End_time TIME,
    Total_duration TEXT,
    Price DECIMAL(10, 2),
    Seats_Available INT,
    Ratings FLOAT,
    Route_link TEXT,
    Route_name TEXT
)
"""

cursor.execute(create_table_query)
conn.commit()
cursor.close()
conn.close()

In [9]:

pip install pymysql

Requirement already satisfied: pymysql in c:\users\phani\appdata\local\programs\python\python312\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd
from sqlalchemy import create_engine
import re

# Read the CSV file into a DataFrame(it is created when u concatenate all files of states use it or convert and edit your data frame then convert back it to dataframe and input in this sql
df = pd.read_csv(r"C:\Users\phani\Downloads\capstone\redbus\Final_df1.csv")

# # Clean the star_rating column to extract only the star rating value
# df['star_rating'] = df['star_rating'].str.extract(r'(\d+\.\d+)')

# # Replace NULL values with 3.0
# df['star_rating'] = df['star_rating'].fillna(3.0)

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://root:root@127.0.0.1/SQLPYTHON2")

# Insert the DataFrame into the MySQL table
df.to_sql(name='bus_routes9', con=engine, if_exists='append', index=False)

7618